.logo {
  font-family: "Great Vibes", cursive;
  color: white;
  font-size: 3rem;
}

.logo > * {
  color: var(--COLOR-COMPLEMENTARY-LIGHT);
  font-family: inherit;
  font-size: inherit;
}

.underlined-text {
  text-decoration: underline;
}

.inherit-color {
  color: inherit;
}
