.site-header {
  position: relative;
  flex-wrap: wrap-reverse;
  min-height: 90vh;
  background: linear-gradient(white, var(--COLOR-PRIMARY-XXLIGHT), var(--COLOR-PRIMARY-XLIGHT));
  object-fit: cover;
  background-size: cover;
}

.dark .site-header {
  background: transparent;
}

.introduction {
  width: 60rem;
}
.site-img {
  width: 50rem;
  height: 50rem;
}

@media screen and (max-width: 1150px) {
  .site-img {
    width: 35rem;
    height: 35rem;
  }
}

@media screen and (max-width: 800px) {
  .site-img {
    width: 32rem;
    height: 32rem;
  }
}

@media screen and (max-width: 700px) {
  .site-header {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .site-img {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 370px) {
  .navbar {
    justify-content: space-between;
  }
}
